.heat-map {
  width: 99%;
  height: 65%;
  background-color: #363636;
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 1px 2px 2px orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heat-map > svg > .g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.x-labels,
.y-labels {
  stroke: #dedede;
}
