.heat-map {
  width: 99%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.heat-map > svg > .g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legend-title {
  fill: #635f5d;
}

.tick {
  stroke: #635f5d;
}

.tick-label {
  fill: #635f5d;
}
